/*******header*********/
.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*********alert message pop up*********/

.pop-outer{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.pop-inner{
    background-color: #323232;
    width: 300px;
    height: 100px;
    padding: 25px;
    margin: 15% auto;
    opacity: 0.6;
    border-style: solid;
    border-width: 5px;
    border-color: #7BAAF7;
    border-radius: 20px;    
    position: relative;
}

button.close {
    position: absolute;
    top: 14px;
    right: 15px;
}

/************table************/

html, body {
    width: 100%;
}

table.width {
    /*border-collapse: collapse;*/
    width: 100%;
    margin: 0 auto;    
}

table.center{
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #333;
    color: white;
}

/****inputs and buttons****/

.buttonHolder{ 
    text-align: center; 
}
